$color--white: #fff;
$color--crimson: #dc143cff;

.wp-block-konomi-like {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

	.konomi-icon {
		width: 1.5em;

		&--heart {
			fill: $color--white;
			stroke: $color--crimson;
			stroke-width: 0.5;
			transition: all 0.3s;

			&:hover {
				fill: $color--crimson;
				fill-opacity: 0.6;
			}
		}
	}

	&.is-active {

		.konomi-icon {

			&--heart {
				fill: $color--crimson;

				&:hover {
					fill: $color--crimson;
					fill-opacity: 1;
				}
			}
		}
	}
}
