/.psalm
/.idea
/sources/**/dist/
/sources/**/build-*/
/coverage
/coverage.xml
/coverage-integration.xml
/coverage-functional.xml
/vendor/
/node_modules/
/php-metrics

/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
