@use "~@konomi/functions";

.konomi-like {
	--konomi-color--white: #fff;
	--konomi-color--crimson: #dc143cff;
	--konomi-color--gray: #696969ff;

	margin: 0;
	padding: 0;

	.konomi-like-response-message {
		inset-area: block-start;
		inset-block-end: anchor(top);
		inset-inline-start: anchor(right);
		margin: 0;
		min-width: 6vw;
		position: absolute;
		text-align: center;
	}

	.wp-block-konomi-like {
		align-items: center;
		appearance: none;
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		font-size: #{functions.rem(18)};
		gap: #{functions.rem(10)};
		line-height: 0;
		padding: 0.5rem;

		.konomi-icon {

			&--heart {
				fill: var(--konomi-color--white);
				stroke: var(--konomi-color--gray);
				stroke-width: 2;
				transition: all 0.3s;

				&:hover {
					fill: var(--konomi-color--gray);
					fill-opacity: 0.6;
				}
			}
		}

		.konomi-like-count {
			color: var(--konomi-color--gray);
			font-weight: 700;
		}

		&.is-active {

			.konomi-icon {

				&--heart {
					fill: var(--konomi-color--crimson);
					stroke: var(--konomi-color--crimson);

					&:hover {
						fill: var(--konomi-color--crimson);
						fill-opacity: 0.6;
					}
				}
			}

			.konomi-like-count {
				color: var(--konomi-color--crimson);
			}
		}
	}

}
