@use "~@konomi/functions";

@mixin reset-button-style() {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
}

.konomi-like {
	--konomi-color--crimson: #dc143cff;
	--konomi-color--gray: #696969ff;
	--konomi-color--white: #fff;

	--konomi-icon--inactive: var(
		--konomi-color--inactive,
		var(--konomi-color--gray)
	);
	--konomi-icon--active: var(
		--konomi-color--active,
		var(--konomi-color--crimson)
	);

	margin: 0;
	padding: 0;

	.wp-block-konomi-like {

		@include reset-button-style();
		align-items: center;
		display: flex;
		font-size: #{functions.rem(18)};
		gap: #{functions.rem(10)};
		line-height: 0;
		padding: 0.5rem;

		.heart_svg__konomi-icon,
		.konomi-icon {

			&--heart {
				fill: var(--konomi-color--white);
				stroke: var(--konomi-icon--inactive);
				stroke-width: 2;
				transition: all 0.3s;

				&:hover {
					fill: var(--konomi-icon--inactive);
					fill-opacity: 0.6;
				}
			}
		}

		.konomi-count {
			color: var(--konomi-icon--inactive);
			font-weight: 700;
		}

		&.is-active {

			.heart_svg__konomi-icon,
			.konomi-icon {

				&--heart {
					fill: var(--konomi-icon--active);
					stroke: var(--konomi-icon--active);

					&:hover {
						fill: var(--konomi-icon--active);
						fill-opacity: 0.6;
					}
				}
			}

			.konomi-count {
				color: var(--konomi-icon--active);
			}
		}
	}

	.konomi-like-response-message {
		inset-area: block-start; /* stylelint-disable property-no-unknown */
		inset-block-end: anchor(top);
		inset-inline-start: anchor(right);
		margin: 0;
		min-width: 6vw;
		position: absolute;
		text-align: center;
	}

	.konomi-login-modal {

		.konomi-login-modal-closer {

			@include reset-button-style();
			position: absolute;
			right: #{functions.em(16)};
			top: #{functions.em(16)};
		}
	}
}
